<% include header %>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <% include side_docs %>
    </div>
    <div class="span10">
      <ul class="breadcrumb">
        <li>
          <a href="/">Home</a> <span class="divider">/</span>
        </li>
        <li class="active">
          Documents
        </li>
      </ul>
      <!--documents-->
      <section id="home">
        <h2>Documents for UAQ easy!</h2>
        <h3>What is UAQ easy ?</h3>
        <p>UAQ means User Accessing Quality! UAQ easy means making which improving your web site or mobile site's UAQ easily and gracefully!</p>
        <p>The project, created by <a href="http://twitter.com/xiaoao">xiaoao</a>, is open source and will move to github soon!</p>
        <h3>Why need it?</h3>
        <p>The UAQ </p>
        <div class="alert alert-info">
          <strong>Take care！</strong>
          you'd better read the license first of all!
        </div>
      </section>
      <!--overview end-->
      <hr class="hrcrossline">
      <section id="sitemark">
        <h2>Site's Base Information</h2>
        <p></p>
      </section>
      <!--sitemark end-->
      <hr>
      <section id="pagesnapshot">
        <h2>Create Webpage Snapshot</h2>
      </section>
      <!--pagesnapshot end-->
      <hr>
      <section id="help">
        <h2>Help</h2>
        <p>You can send a mail to <strong><code>junhuifoo at gmail dot com</code></strong></p>
        <div class="alert alert-info">
          <strong>RealTime！</strong>
          you also can contact to me by Tencent QQ<code>654067187</code>,or following me on <a href="http://twitter.com/xiaoao">twitter</a>,or LinkedIn, or facebook, <a href="http://github.com/xiaoao">github</a>.
        </div>
      </section>
      <!--license end-->
      <hr>
      <section id="license">
        <h2>License</h2>
      </section>
      <!--license end-->

    </div>
  </div>
</div>
<% include footer %>
<script>
$('#docmentslist').affix();
</script>