	<script src="/javascripts/jquery.js" type="text/javascript"></script>
    <script src="/javascripts/bootstrap2.min.js" type="text/javascript"></script>
	<div class="footer">
        <p><strong>UAQ  easy!</strong> Website Performance Analyst and Monitor framework, making UAQ easily, powered by <a href="http://github.com/xiaoao"><strong>xiaoao</strong></a></p>
        <p>I'll appreciate it if you join me! please send a mail to <strong>junhuifoo@gmail.com</strong> or following me in <strong><a href="http://twitter.com/xiaoao">twitter</a></strong>, or connect me by <strong>Tencent QQ:654067187</strong></p>
      </div>
    </div>
  </body>
</html>

