<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> - Website Performance Analyst and Monitor framework, powered by xiaoao</title>
    <meta charset="utf-8">
    <meta name="keyword" content="UAQeasy Website Performance Analyst Monitor framework HTML5 xiaoao">
    <meta name="description" content="UAQ easy!Website Performance Analyst and Monitor framework, powered by xiaoao">
    <link rel='stylesheet' href='/stylesheets/bootstrap2-combined.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid main">
          <a data-target=".navbar-responsive-collapse" data-toggle="collapse" class="btn btn-navbar"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a> <a href="/" class="brand">UAQ easy!</a>
          <div class="nav-collapse collapse navbar-responsive-collapse">
            <ul class="nav">
              <li <% if (navitem == 'index') { %>class="active"<% } %>><a href="/">主页</a></li>
              <li <% if (navitem == 'jstest') { %>class="active"<% } %>><a href="/jstest">脚本测试</a></li>
              <li <% if (navitem == 'css') { %>class="active"<% } %>><a href="/cssanalyst">CSS分析</a></li>
              <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle active" href="#">工具<strong class="caret"></strong></a>
                <ul class="dropdown-menu">
                  <li><a href="/tools/mark">网页的基本信息</a></li>
                  <li><a href="/tools/snapshot">生成网页缩略图</a></li>
                  <li><a href="/tools/har">生成网页HAR</a></li>
                  <li><a href="/tools/loadspeed">网页打开时间</a></li>
                  <li><a href="/tools/jsanalyst">脚本分析</a></li>
                  <li><a href="/tools/css">CSS压缩</a></li>
                </ul>
              </li>
            </ul>
            <ul class="nav pull-right">
              <li <% if (navitem == 'apis') { %>class="active"<% } %>><a href='/apis'>API</a></li>
              <li <% if (navitem == 'documents') { %>class="active"<% } %>><a href='/documents'>文档</a></li>
              <li><a href='/bbs'>论坛</a></li>
              <li <% if (navitem == 'about') { %>class="active"<% } %>><a href='/about'>关于</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--nav end-->
    <div class="main">