  <% include header %>
      <div class="carousel slide" id="carousel-559909">
        <ol class="carousel-indicators">
          <li class="active" data-slide-to="0" data-target="#carousel-559909"></li>
          <li data-slide-to="1" data-target="#carousel-559909"></li>
          <li data-slide-to="2" data-target="#carousel-559909"></li>
        </ol>
        <div class="carousel-inner">
          <div class="item active">
            <a href="/"><img alt="" src="/img/sunset.jpg" /></a>
            <div class="carousel-caption">
              <h4><a href="/">棒球</a></h4>
              <p>棒球运动是一种以棒打球为主要特点，集体性、对抗性很强的球类运动项目，在美国、日本尤为盛行。</p>
            </div>
          </div>
          <div class="item">
            <img alt="" src="/img/subway.jpg" />
            <div class="carousel-caption">
              <h4>
                冲浪
              </h4>
              <p>
                冲浪是以海浪为动力，利用自身的高超技巧和平衡能力，搏击海浪的一项运动。运动员站立在冲浪板上，或利用腹板、跪板、充气的橡皮垫、划艇、皮艇等驾驭海浪的一项水上运动。
              </p>
            </div>
          </div>
          <div class="item">
            <img alt="" src="/img/wood.jpg" />
            <div class="carousel-caption">
              <h4>
                自行车
              </h4>
              <p>
                以自行车为工具比赛骑行速度的体育运动。1896年第一届奥林匹克运动会上被列为正式比赛项目。环法赛为最著名的世界自行车锦标赛。
              </p>
            </div>
          </div>
        </div> <a data-slide="prev" href="#carousel-559909" class="left carousel-control">‹</a> <a data-slide="next" href="#carousel-559909" class="right carousel-control">›</a>
      </div>

      <form id="urlF" class="form-search" method="POST" action="/easy">
        <label for="url">URL:</label>
        <input class="form-control span8" id="url" name="url" value="http://" type="text" placeholder="url" /> 
        <button type="submit" id="btnOK" class="btn btn-primary">OK</button>
      </form>

      <ul class="thumbnails">
        <li class="span4">
          <div class="thumbnail">
            <img alt="300x200" src="/img/people.jpg" />
            <div class="caption">
              <h3>
                整体性能分析框架
              </h3>
              <p>
                解决网站或服务的用户访问质量，分析网页资源加载，css渲染，javascript执行，专业权威的性能分析，集成各种开发者工具。
              </p>
              <p>
                <a class="btn btn-primary" href="#">浏览</a> <a class="btn" href="#">分享</a>
              </p>
            </div>
          </div>
        </li>
        <li class="span4">
          <div class="thumbnail">
            <img alt="300x200" src="/img/city.jpg" />
            <div class="caption">
              <h3>
                终端覆盖全面
              </h3>
              <p>
                终端覆盖全面，覆盖PC上主流浏览器，以及iOS，Android和WindowsPhone等各主流Phone和PAD移动平台，真正的一网打尽。
              </p>
              <p>
                <a class="btn btn-primary" href="#">浏览</a> <a class="btn" href="#">分享</a>
              </p>
            </div>
          </div>
        </li>
        <li class="span4">
          <div class="thumbnail">
            <img alt="300x200" src="/img/sports.jpg" />
            <div class="caption">
              <h3>
                集成分析优化工具
              </h3>
              <p>
                集成大量的分析优化工具，CSS分析，JS执行分析，静态压缩工具，网页质量分析，强大的可视化分析工具，轻松搞定性能瓶颈。
              </p>
              <p>
                <a class="btn btn-primary" href="#">浏览</a> <a class="btn" href="#">分享</a>
              </p>
            </div>
          </div>
        </li>
      </ul>
      <ul class="thumbnails">
        <li class="span4">
          <div class="thumbnail">
            <img alt="300x200" src="/img/people.jpg" />
            <div class="caption">
              <h3>
                CSS质量分析
              </h3>
              <p>
                CSS的质量，兼容性，渲染情况等分析，另提供各种浏览器效果的渲染可视化对比工具，使你的代码兼容性一目了然。
              </p>
              <p>
                <a class="btn btn-primary" href="#">浏览</a> <a class="btn" href="#">分享</a>
              </p>
            </div>
          </div>
        </li>
        <li class="span4">
          <div class="thumbnail">
            <img alt="300x200" src="/img/city.jpg" />
            <div class="caption">
              <h3>
                JS执行分析
              </h3>
              <p>
                分析JS在执行时的调用逻辑，跟踪bug，分析CPU，内存使用，GC，堆栈等信息，便于开发调试分析的代码，真正的强大。
              </p>
              <p>
                <a class="btn btn-primary" href="#">浏览</a> <a class="btn" href="#">分享</a>
              </p>
            </div>
          </div>
        </li>
        <li class="span4">
          <div class="thumbnail">
            <img alt="300x200" src="/img/sports.jpg" />
            <div class="caption">
              <h3>
                REST APIS
              </h3>
              <p>
                平台服务化，提供restful APIS，方便开发者调用，部分服务提供异步接口，便于集成到用户的系统中。
              </p>
              <p>
                <a class="btn btn-primary" href="#">浏览</a> <a class="btn" href="#">分享</a>
              </p>
            </div>
          </div>
        </li>
      </ul>
      <!--image end-->
  <% include footer %>
  <script>
    $("form").submit(function(event){
      $('form').attr('action','/easy?url=' + $('#url').val());
    });
  </script>