<ul id="docmentslist" class="nav nav-list affix sidebar">
  <li class="nav-header">
    Documents
  </li>
  <li class="active">
    <a href="#home">home</a>
  </li>
  <li class="nav-header">
    Services list
  </li>
  <li>
    <a href="#sitemark">site info</a>
  </li>
  <li>
    <a href="#pagesnapshot">page snapshot</a>
  </li>
  <li class="divider">
  </li>
  <li>
    <a href="#help">Help</a>
    <a href="#license">License</a>
  </li>
</ul>