<ul id="docmentslist" class="nav nav-list affix sidebar">
  <li class="nav-header">
    Tools
  </li>
  <li class="active">
    <a href="#home">snapshot</a>
  </li>
  <li class="nav-header">
    Help list
  </li>
  <li>
    <a href="#sitemark">sample</a>
  </li>
  <li>
    <a href="#pagesnapshot">page snapshot</a>
  </li>
  <li class="divider">
  </li>
  <li>
    <a href="#help">Help</a>
    <a href="#license">License</a>
  </li>
</ul>